.movie-poster {
    display: flex;
    justify-content: center;

    .poster-main {
        width: 30%;
        margin: 16px 7px;

        .movie-content {
            border-radius: 35px;
            overflow: hidden;

            .poster-img {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                padding-top: 160%;
            }
        }
    }

    .movie-details {
        padding: 19px 31px;
        width: 65%;

        .movie-title {
            color: white;
        }

        ul {
            display: flex;
            list-style: none;
            padding: unset;
            flex-wrap: wrap;
            li {
                padding: 5px 15px;
                color: white;
                background-color: black;
                margin: 5px 6px;
                border-radius: 26px;
                border: 1px solid;

            }
        }

        p {
            color: white;
        }

        h3 {
            color: white;
        }
    }

    .casts {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        gap: 11px;

        .image-item {
            object-fit: cover;
            overflow: hidden;
            width: 111px;
            height: 251px;
            border-radius: 10px;

            .cast-image {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                padding-top: 165%;
            }
        }
    }
}

h2 {
    color: white;
    padding-top: 4px;
}

.rating-color {
    color: yellow !important;
}

.youtubeVideo {
    color: white;
    padding-top: 30px;
}

iframe {
    border-radius: 15px;
}

.main-video-list {
    padding-bottom: 60px;
}

@media screen and (max-width: 700px) {

    .website-title {
        font-size: 15px !important;
    }

    .poster-main {
        width: 100% !important;
    }

    .movie-poster {
        display: unset !important;
    }

    .movie-details {
        width: 100% !important;
    }
    .poster-img {
        padding-top: 100% !important;
        margin: 0px 23px !important;
        border-radius: 31px !important;
    }
}
