.footer {
    position: relative;
    padding: 6rem 2rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0; /* Don't shrink the bottom div */
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;

    .footer-title {
        align-items: center;
        text-align: center;

        .logo {
            color: white;
            font-size: 28px;
            font-weight: bold;
            text-shadow: 3px 2px 4px #0ba91f;
            cursor: pointer;

            Link {
                text-decoration: none;
            }
        }
    }

    .footer-content {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;

        .footer-text-list {
            display: grid;
            font-size: 22px;
            text-align: start;
        }
    }
}
@media screen and (max-width: 402px) {
    .footer-content {
        gap:unset !important;
        .footer-text-list {
            display: grid;
            font-size: 22px;
            text-align: start;
        }
    }
}